<launch>
    <arg name="rviz" default="false"/>
    <!-- set the small values for covariances to make amcl relies on initial pose values -->
    <arg name="initial_cov_xx" default="0.0001" />
    <arg name="initial_cov_yy" default="0.0001" />
    <arg name="initial_cov_aa" default="0.0001" />
    
    <param name="use_sim_time" value="true" />

    <include file="$(find rs_navigation)/launch/navigate.launch" >
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="initial_cov_xx" value="$(arg initial_cov_xx)" />
        <arg name="initial_cov_yy" value="$(arg initial_cov_yy)" />
        <arg name="initial_cov_aa" value="$(arg initial_cov_aa)" />
    </include>
</launch>