<?xml version='1.0'?>
<model>
  <name>Clearpath Robotics Husky A200</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Taras Borovets</name>
    <email>tboro@softserveinc.com</email>
  </author>

  <description>
   Boston Dynamics` Spot - Base Model
  </description>
</model>
