<launch>
    <arg name="gui" default="false"/>
    <arg name="rviz" default="false"/>
    
    <param name="use_sim_time" value="true" />

    <include file="$(find rs_config)/launch/gazebo.launch" >
        <arg name="gui" default="$(arg gui)" />
    </include>

    <!-- launch with random goals on the map -->
    <node pkg="softserve_simulation_common" type="move_base_route_manager.py" name="move_base_route_manager" output="screen">
    </node>

    <include file="$(find mp_planning_tests)/launch/standstill_drive_A_to_A_test.launch" >
        <arg name="goal_position_tolerance" value="0.2" />
        <arg name="goal_orientation_tolerance" value="0.2" />
    </include>
</launch>